@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bonsai.Areas.Admin.ViewModels.Changesets.ChangesetDetailsVM

@using Bonsai.Data.Models
@using Humanizer

@{
    string GetEntityType(bool dative = false)
    {
        switch (Model.EntityType)
        {
            case ChangesetEntityType.Media:
                return dative ? "media-file" : "media-file";

            case ChangesetEntityType.Page:
                return dative ? "page" : "page";

            case ChangesetEntityType.Relation:
                return dative ? "relation" : "relation";
        }

        return null;
    }

    var isRemoving = Model.ChangeType == ChangesetType.Created;

    ViewBag.Title = (isRemoving ? "Deleting " : "Restoring ") + GetEntityType();
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
{
    <div class="card d-inline-block">
        <div class="card-body">
            <img src="@Url.Content(Model.ThumbnailUrl)" style="max-width: 200px" />
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-9">
        <h3>Changes</h3>

        <dl class="row">
            <dt class="col-sm-2">Author</dt>
            <dd class="col-sm-10">@Model.Author</dd>

            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@Model.Date.ToLocalTime().ToString("f") (@Model.Date.ToLocalTime().Humanize())</dd>
        </dl>
    </div>
</div>

@if (isRemoving)
{
    <p>
        Are you sure you want to delete @GetEntityType(dative: true)?<br />
    </p>
}
else
{
    <p>
        Are you sure you want to restore the previous version @GetEntityType()?<br />
        If you provided any editions they will be lost
    </p>
}

<form action="@Url.Action("Revert", "Changesets", new {area = "Admin"})" method="POST">
    <input type="hidden" name="confirm" value="true" />
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">@(isRemoving ? "Delete" : "Restore")</button>
    <a href="@Url.Action("Index", "Changesets", new {area = "Admin"})" class="btn btn-secondary">Cancel</a>
</form>