@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Bonsai
@using Bonsai.Areas.Admin.Logic
@using Bonsai.Areas.Admin.ViewModels.Users
@model Bonsai.Areas.Admin.ViewModels.Users.UserCreatorVM
@{
    ViewBag.Title = "Create User Profile";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";

    var data = (UserEditorDataVM) ViewBag.Data;
}

<h1>@ViewBag.Title</h1>

<div class="alert alert-info" notification-id="@NotificationsService.NOTE_PASSWORD_AUTH">
<<<<<<< HEAD
    <p><strong>You are creating profile with the password authorization.</strong></p>
    <p>
        It will not be possible the change the password with no administrator's help.
=======
    <p><strong>You are creating a profile with password authentication.</strong></p>
    <p>
        This type of authentication is less secure and convenient, but does not require a social network account.
        It is suitable, for example, for elderly relatives, or for a quick functionality check.
    </p>
    <p>
        If a user forgets their password, they will not be able to recover it themselves - only an administrator can do that.
>>>>>>> dev
    </p>
</div>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <form action="@Url.Action("Create")" method="post">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="LastName">Last Name</label>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
<<<<<<< HEAD
                <label class="col-sm-3 col-form-label form-label-required" asp-for="FirstName">Name</label>
=======
                <label class="col-sm-3 col-form-label form-label-required" asp-for="FirstName">First Name</label>
>>>>>>> dev
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
<<<<<<< HEAD
                <label class="col-sm-3 col-form-label form-label-required" asp-for="MiddleName">Father Name</label>
=======
                <label class="col-sm-3 col-form-label form-label-required" asp-for="MiddleName">Middle Name</label>
>>>>>>> dev
                <div class="col-sm-9">
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
<<<<<<< HEAD
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Birthday">Birth date</label>
                <div class="col-sm-6">
                    <input asp-for="Birthday" class="form-control datepicker" placeholder="yyyy.mm.dd" />
=======
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Birthday">Date of Birth</label>
                <div class="col-sm-6">
                    <input asp-for="Birthday" class="form-control datepicker" placeholder="YYYY.MM.DD" />
>>>>>>> dev
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Email">E-mail</label>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
<<<<<<< HEAD
                    <div class="small text-muted">E-mail will be used for the login</div>
=======
                    <div class="small text-muted">Will be used as a login</div>
>>>>>>> dev
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Password">Password</label>
                <div class="col-sm-9">
                    <input type="password" asp-for="Password" class="form-control" />
<<<<<<< HEAD
                    <div class="small text-muted">Minimum 6 literals</div>
=======
                    <div class="small text-muted">Minimum 6 characters</div>
>>>>>>> dev
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
<<<<<<< HEAD
                <label class="col-sm-3 col-form-label form-label-required" asp-for="PasswordCopy">Confirm password</label>
=======
                <label class="col-sm-3 col-form-label form-label-required" asp-for="PasswordCopy">Repeat Password</label>
>>>>>>> dev
                <div class="col-sm-9">
                    <input type="password" asp-for="PasswordCopy" class="form-control" />
                    <span asp-validation-for="PasswordCopy" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label form-label-required" asp-for="Role">Access</label>
                <div class="col-sm-9">
                    <select asp-for="Role" asp-items="@data.UserRoleItems" class="form-control"></select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Page</label>
                <div class="col-sm-9">
                    <div>
                        <select asp-for="PersonalPageId" asp-items="@data.PageItems"></select>
                        <span asp-validation-for="PersonalPageId"></span>
                    </div>
                    <div>or</div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CreatePersonalPage" class="custom-control-input" id="CreatePersonalPage" />
                        <label class="custom-control-label" for="CreatePersonalPage">
<<<<<<< HEAD
                            Create new page
=======
                            Create new
>>>>>>> dev
                        </label>
                    </div>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
<<<<<<< HEAD
                    <strong>Error:</strong> please, make sure, the input is correct and try again.
=======
                    <strong>Error:</strong> please make sure you have filled all fields correctly and try again.
>>>>>>> dev
                </div>
            }

            <div class="form-group row mb-5">
                <div class="offset-sm-3 col-sm-6">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-secondary" href="@Url.Action("Index")">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
