@model Bonsai.Areas.Admin.ViewModels.Users.RemoveUserVM
@{
    ViewBag.Title = "Удаление пользователя";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<h1>Dlete user</h1>

@if (Model.IsSelf)
{
    <p>You cannot delet your own profile</p>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Back</a>
}
else if (!Model.IsFullyDeletable)
{
    <p>You cannot delete a user profile, who provided edition.</p>
    <p>You can block it insted, to make the user unable to log in.</p>
    <a class="btn btn-primary" href="@Url.Action("Update", "Users", new { area = "Admin", id = Model.Id })">Edit</a>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Back</a>
}
else
{
    <p>Are you sure you want to delete the user <b>@Model.FullName</b>?</p>
    <p>It will not be possible to rever this operation.</p>
    <form class="@Url.Action("Remove")" method="POST">
        @Html.HiddenFor(x => x.Id)
        <input type="hidden" name="confirm" value="true" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-secondary" href="@Url.Action("Index")">Back</a>
    </form>
}